.body_background{
    background-image:url("background3.jpeg");
    background-position: center;
    background-size: cover;
}
.heading{
    font-size: 20px;
}
canvas{
    border: 5px double rgb(175, 78, 255);
}